# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: gif-collage

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
frameworkVersion: "3"

provider:
  name: azure
  region: Central US
  runtime: nodejs12

plugins:
  - serverless-webpack
  - serverless-azure-functions

package:
  individually: false
  patterns:
    - "!local.settings.json"
    - "!.vscode/**"
    - "!terraform/**"
    - "!.eslintrc.js"
    - "!.gitignore"

functions:
  getGifCollageState:
    handler: src/functions/gif-collage-get/index.default
    events:
      - http: true
        route: getGifCollageState
        methods:
          - GET
        authLevel: anonymous # can also be `function` or `admin`
      - cosmosDB: true
        name: getGifCollageState
        databaseName: gifcollage-${opt:env, 'prod'}
        collectionName: gifUrl
        connectionStringSetting: COSMOS_DB_CONNECTION
        direction: in
        sqlQuery: SELECT * from c
      - http: true
        direction: out
  gifCollageListener:
    handler: src/functions/gif-collage-listener/index.default
    events:
      - signalR: true
        direction: in
        name: signalRGifTrigger
        hubName: gifcollage
        category: messages
        event: SendGif
        parameterNames:
          - payload
        connectionStringSetting: AzureSignalRConnectionString
      - signalR: true
        direction: out
        name: signalRGif
        hubName: gifcollage
        connectionStringSetting: AzureSignalRConnectionString
  gifCollageUpload:
    handler: src/functions/gif-collage-upload/index.default
    events:
      - eventGrid: true
        name: eventGridEvent
      - signalR: true
        direction: out
        name: signalRGif
        hubName: gifcollage
        connectionStringSetting: AzureSignalRConnectionString
      - cosmosDB: true
        direction: out
        name: gifUrl
        databaseName: gifcollage-${opt:env, 'prod'}
        collectionName: gifUrl
        connectionStringSetting: COSMOS_DB_CONNECTION
        createIfNotExists: true
  generateSasToken:
    handler: src/functions/sas-token-post/index.default
    events:
      - http: true
        route: generateSasToken
        methods:
          - POST
        authLevel: anonymous
  negotiateSignalR:
    handler: src/functions/signalr-negotiate/index.default
    events:
      - http: true
        route: negotiate
        authLevel: anonymous
      - http: true
        direction: out
      - signalRConnectionInfo: true
        direction: in
        name: connectionInfo
        hubName: gifcollage
        connectionStringSetting: AzureSignalRConnectionString
