trigger:
  - master

variables:
  azureSubscription: "james-subscription"
  appName: func-gifcollage-prod
  tag: "$(Build.BuildId)"
  # Agent VM image name
  vmImageName: "ubuntu-latest"

pool:
  # name: Default
  vmImage: $(vmImageName)

stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
      - job: Build
        displayName: Build
        steps:
          - bash: |
              npm install 
              npm run build --if-present
              npm prune --production
          - task: ArchiveFiles@2
            displayName: "Archive files"
            inputs:
              rootFolderOrFile: "$(System.DefaultWorkingDirectory)"
              includeRootFolder: false
              archiveFile: "$(System.ArtifactsDirectory)/build$(Build.BuildId).zip"
          - publish: "$(System.ArtifactsDirectory)/build$(Build.BuildId).zip"
            artifact: drop
  - stage: Deploy
    displayName: Deploy Function App
    jobs:
      - job: Deploy
        displayName: Deploy
        steps:
          - download: current
            artifact: drop
          - task: AzureFunctionApp@1 # Add this at the end of your file
            inputs:
              azureSubscription: $(azureSubscription)
              appType: functionApp
              appName: $(appName)
              package: $(Pipeline.Workspace)/**/*.zip
